{% extends 'base.html' %}

{% block title %}录入药品{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/addDrug.css') }}">
{% endblock %}
<!--内容-->
{% block content %}
    <div class="addDrug_content">
        <form action="#" method="post">
            <h2 class="addDrug_title">录入药品</h2>
            <!--第一行-->
            <div class="addDrug_content_one">
                <div class="addDrug_item">
                    <!--药品编号-->
                    <div class="addDrug_num_content">
                        <label class="addDrug_num_lable">药品编号：</label>
                        <div class="addDrug_num_text">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="请输入药品编号" name="telephone">
                            </div>
                        </div>
                    </div>
                    <!--药品名称-->
                    <div class="addDrug_name_content">
                        <label class="addDrug_name_lable">药品名称：</label>
                        <div class="addDrug_name_text">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="请输入药品名称" name="telephone">
                            </div>
                        </div>
                    </div>
                    <!--药品类别-->
                    <div class="addDrug_type_content">
                        <label class="addDrug_type_lable">药品类别：</label>
                        <div class="addDrug_type_text">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="请输入药品类别" name="telephone">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--第二行-->
            <div class="addDrug_content_secound">
                <div class="addDrug_item">
                    <!--药品编号-->
                    <div class="addDrug_num_content">
                        <label class="addDrug_num_lable">药品编号：</label>
                        <div class="addDrug_num_text">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="请输入药品编号" name="telephone">
                            </div>
                        </div>
                    </div>
                    <!--药品名称-->
                    <div class="addDrug_name_content">
                        <label class="addDrug_name_lable">药品名称：</label>
                        <div class="addDrug_name_text">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="请输入药品名称" name="telephone">
                            </div>
                        </div>
                    </div>
                    <!--药品类别-->
                    <div class="addDrug_type_content">
                        <label class="addDrug_type_lable">药品类别：</label>
                        <div class="addDrug_type_text">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="请输入药品类别" name="telephone">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">登录</button>
            </div>
        </form>
    </div>
{% endblock %}

