<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}-药品系统</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet"
          href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <!-- 导入jquery 1.9.0 -->
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <!-- Bootstrap 导入jquery -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
    <script type="application/javascript">
{#        $(function(){#}
{#           $('.navbar-nav li').click(function(e){#}
{#               e.preventDefault();#}
{#               $(this).addClass('active').siblings().removeClass('active');#}
{#           });#}
{#        });#}
        //弹出隐藏层
        function ShowDiv(show_div, bg_div) {
            document.getElementById(show_div).style.display = 'block';
            document.getElementById(bg_div).style.display = 'block';
            var bgdiv = document.getElementById(bg_div);
            bgdiv.style.width = document.body.scrollWidth;
            $("#" + bg_div).height($(document).height());
        };

        //关闭弹出层
        function CloseDiv(show_div, bg_div) {
            document.getElementById(show_div).style.display = 'none';
            document.getElementById(bg_div).style.display = 'none';
        };
    </script>
    <!-- 导入css 或者 js头部 -->
    {% block head %}{% endblock %}
</head>
<body>
<div class="header">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('home') }}">药品管理系统</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active" ><a href="{{ url_for('home') }}">首页</a></li>
                    <li ><a href="{{ url_for('addStockHome') }}">进货</a></li>
                    <li ><a href="{{ url_for('saleDrugHome') }}">购买</a></li>
                    <li ><a href="{{ url_for('addDrug') }}">销售</a></li>
                </ul>
                <form class="navbar-form navbar-left" action="{{ url_for('searchDrug') }}" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="请输入药品关键字" name="keywords">
                    </div>
                    <button type="submit" class="btn btn-primary">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    {% if user %}
                        <li><a href="#">{{ user.username }}</a></li>
                        <li><a href="{{ url_for('logout') }}">注销</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">登录</a></li>
                        <li><a href="{{ url_for('regist') }}">注册</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>