{% extends 'base.html' %}

{% block title %}首页{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}">
    <script type="text/javascript">
        function btn_hover_on() {
            Document.getElementsByClassName('home_menu_add').style.backgroundColor = '#F9F9F9';
            Document.getElementsByClassName('home_addText').style.color = '#337AB7';
        }
        function btn_hover_out() {
            Document.getElementsByClassName('home_menu_add').style.backgroundColor = '#337AB7';
            Document.getElementsByClassName('home_addText').style.color = '#ffffff';
        }
        function btn_add() {
            location.href = "{{ url_for('addDrug') }}";
        }
    </script>
{% endblock %}
<!--内容-->
{% block content %}
    <div class="home_content">
        <!--左边-->
        <div class="home_nav">
            <div class="home_nav_title">
                <p>全部类别</p>
            </div>
            <div class="home_nav_type">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active"><a href="#">家庭必备</a></li>
                    <li role="presentation"><a href="#">妇科</a></li>
                    <li role="presentation"><a href="#">感冒类</a></li>
                    <li role="presentation"><a href="#">妇科</a></li>
                    <li role="presentation"><a href="#">感冒类</a></li>
                    <li role="presentation"><a href="#">妇科</a></li>
                    <li role="presentation"><a href="#">感冒类</a></li>
                    <li role="presentation"><a href="#">妇科</a></li>
                    <li role="presentation"><a href="#">感冒类</a></li>
                    <li role="presentation"><a href="#">妇科</a></li>
                    <li role="presentation"><a href="#">感冒类</a></li>
                    <li role="presentation"><a href="#">妇科</a></li>
                    <li role="presentation"><a href="#">感冒类</a></li>
                    <li role="presentation"><a href="#">妇科</a></li>
                    <li role="presentation"><a href="#">感冒类</a></li>
                    <li role="presentation"><a href="#">妇科</a></li>
                    <li role="presentation"><a href="#">感冒类</a></li>
                    <li role="presentation"><a href="#">妇科</a></li>
                    <li role="presentation"><a href="#">感冒类</a></li>
                </ul>
            </div>
        </div>
        <!--右边-->
        <div class="home_right">
            <div class="home_content_head">
                <p class="home_content_title">药品列表</p>
            </div>
            <div class="home_content_menu">
                <div class="home_menu_add"
                     onmouseout="btn_hover_out()"
                     onmouseover="btn_hover_on()"
                     onclick="btn_add()">
                    <img class="home_addImg" src="{{ url_for('static',filename='image/add.png') }}">
                    <label class="home_addText">新增</label>
                </div>
            </div>
            <div class="home_content_table">
                <table class="table table-striped table-bordered">
                    <tr>
                        <td>表头</td>
                        <td>表头</td>
                    </tr>
                    <tr>
                        <td>表头</td>
                        <td>表头</td>
                    </tr>
                    <tr>
                        <td>表头</td>
                        <td>表头</td>
                    </tr>
                    <tr>
                        <td>表头</td>
                        <td>表头</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}