{% extends 'base.html' %}

{% block title %}搜索{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/searchDrug.css') }}">
    <script type="text/javascript">

    </script>
{% endblock %}
<!--内容-->
{% block content %}
    <div class="searchDrug_content">
        <h2 class="searchDrug_title">药品列表</h2>
        <div class="searchDrug_content_table">
                {% if drugs %}
                    <table class="table table-striped table-bordered">
                        <tr class="table_title">
                            <td class="table_title_txt">序号</td>
                            <td class="table_title_txt">药品编号</td>
                            <td class="table_title_txt">药品名称</td>
                            <td class="table_title_txt">药品类别</td>
                            <td class="table_title_txt">操作</td>
                        </tr>
                        {% for drug in drugs %}
                            <tr>
                                <td>{{ drugs.index(drug) }}</td>
                                <td>{{ drug.num }}</td>
                                <td>{{ drug.name }}</td>
                                <td>{{ drug.drugType.name }}</td>
                                <td><a href="{{ url_for('drugDetail',drugNum=drug.num) }}" class="home_content_show">查看</a></td>
                            </tr>
                        {% endfor %}
                {% else %}
                    <div class="searchDrug_tips">
                        <div class="searchDrug_tips_content">
                            <img class="searchDrug_tips_img" src="{{ url_for('static',filename='image/search.png') }}">
                            <p class="searchDrug_tips_txt">没有查到数据,换个关键字吧!</p>
                        </div>
                    </div>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}